<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>Kwitter</title>
  </head>
  
  <body>
    <% if session[:user_id] %>
      <form method="POST" action="/logout">
        <input type="submit" value="Logout">
      </form>
  
    Hello <%= session[:user_id].username %>
      <form method="POST" action="tweet">
        <input type="text" name="message" placeholder="Tweet Here">  
        <input type="hidden" name="user" value="<%= session[:user_id].id %>">
        <input type="submit">
      </form>
    <% end %>
    
    <h1> Kwitter </h1>

    <% if @user %>
    <h2>Hello <%= @user.username %></h2>
      <form method="POST" action="/tweet">
        <input type="text" name="message" placeholder="Tweet">  
        <input type="hidden" name="user" value="<%= @user.id %>">
        <input type="submit">
      </form>
    <% end %>

    <% Tweet.all.each do |tweet| %>
      <h3> <%= tweet.message %>  
        -- <%= tweet.user.username %> </h3>
    <% end %>
  </body>
  
</html>